@charset "utf-8";
h1 {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 100px;
    background-color: #EFDB73;
    color: #AE0002;
}
body {
    background-color: #D43134;
}
table {
    background-color: #EFDB73;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.img {
    width: 182px;
    height: 130px;
}
.division {
    width: 275px;
    height: 212px;
}
.video {
    width: 990px;
    height: 352px;
}
.redes {
    width: 60px;
    height: 60px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.economia {
    width: 349px;
    height: 258px;
}
.pib {
    width: 538px;
    height: 233px;
}
.euro {
    margin-left: auto;
    margin-right: auto;
    width: 402px;
    height: 233px;
}
.centro {
    text-align: center;
}
